:root {
    --mainColor: 45, 45, 45;
    --secondColor: 80, 80, 220;
    --txtColor: 255,255,255;
}

body{
    margin: 0;
    color: rgba(var(--txtColor), 1);
    background-color: rgba(var(--mainColor), 1);
    font-size: 1.1em;
    font-family: Calibri, sans-serif;
}

* {
    box-sizing: border-box;
}


/*---- Nav ----*/
nav{
    width: 100%;
    height: auto;
    padding: 20px 20px 5px;
    color: rgba(var(--mainColor), 1);
    background-color: rgba(var(--secondColor), 0.7);
    border-bottom: 1px solid rgba(var(--secondColor), 1);  
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 10;
    transition: 0.2s;
}

@media only screen and (min-width: 768px)
{
    nav { margin-bottom: 3rem;}
}

nav:hover, nav:focus-within {
    background-color: rgba(var(--secondColor), 0.9);
}

.navLinks{
    padding: 0;
    float: right;
    margin: 0 0 1rem 0;
}

.navLinks a{
    padding-left: 20px;
}

.collapsible {
    display: inline;
}

.icon {
    display: none !important;
}

@media only screen and (max-width: 500px){
    .navLinks {
        margin-top: 2rem;
        float: none;
    }

    .navLinks a {
        display: block;
    }

    .collapsible {
        display: block;
    }

    .toggle:not(:checked) + .collapsible {
        margin-bottom: -600px;
        visibility: hidden;
        max-height: 0;
        transition: margin-bottom 0.3s, visibility 0.2s, max-height 0.2s, opacity 0.3s;
    }
    
    .toggle:checked + .collapsible {
        margin-bottom: 0;
        max-height: 1000000px;
        transition: opacity 0.1s, margin-bottom 0.3s;
    }

    .icon{
        display: initial !important;
        float: right;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    .icon path {
        stroke: rgba(var(--txtColor), 1);
    }
    
    .icon:not(:active){    
        animation: nav-rotate 0.5s;
    }
}

@keyframes nav-rotate {
    from {
      transform: rotate(0deg); }
    to {
      transform: rotate(180deg); }
}

.alert {
    padding: 1em;
}
.alert-danger {
    background-color: #F66;
}
.alert-valid {
    background-color: #5D5;
}

/*---- Section ----*/
section{
    width: 96%;
    margin: auto;
    margin-bottom: 60px;
}

@media only screen and (min-width: 500px){
    section{width: 90%;}
}
@media only screen and (min-width: 768px){
    section{width: 68%;}
}

/* section.status + section {
    min-height: 70vh;
} */

section#footer {
    margin-top: 5em;
}

header {
    display: block;
    padding: 1rem 0;
}

header > * {
    vertical-align: top;
    margin: 0.3rem 0.5rem !important;
    display: inline-block !important;
}

/*---- Thumbnails ----*/

.thumbnails{
    margin: auto;
    padding: 4px;
    cursor: pointer;
    display: inline-flex;
    width: 50%;
    opacity: 0.6;
    transition: 0.5s;
}

form .thumbnails {
    display: inline-block;
} 

.thumbnails p {
    word-break: break-all;
}

.dense .thumbnails{width: 33%;}
.dense .thumbnails p{margin: 5px 0;}
.ultradense .thumbnails{width: 25%; font-size: 0.8rem; padding: 2px;}
.ultradense .thumbnails p{margin: 0;}

@media only screen and (min-width: 280px){
    .thumbnails{width: 33%;}
    .dense .thumbnails{width: 25%;}
    .ultradense .thumbnails{width: 20%;}
}

@media only screen and (min-width: 500px){
    .thumbnails{width: 25%;}
    .dense .thumbnails{width: 20%;}
    .ultradense .thumbnails{width: 12.5%;}
}

@media only screen and (min-width: 768px){
    .thumbnails{width: 20%;}
    .dense .thumbnails{width: 10%;}
    .ultradense .thumbnails{width: 5%;}
}

.thumbnails:hover, .thumbnails:focus-within{
    opacity: 1;
    transition: 0.5s;
}

.thumbnails img, .thumbnails a{
    width: 100%;
}

/*---- Forms ----*/

form {
    display: contents;
}

input {
    color: black;
}

button, input {
    overflow: visible;
}

label {
    margin : 0.5rem;
    margin-bottom: 0;
    display: inline-block;
}

label:not(.lbl-toggle):not(.icon) {
    cursor: pointer;
    width: 100%;
}

.remove {
    color: #F88;
    display: inline-block;
    padding: 0.2em;
    width: calc(100% - 3em) !important;
}
.remove:hover {
    /* background-color: rgba( 220,80,80, 0.2); */
}

.remove + input {
    float: right;
}

input[type=checkbox]{
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: inline-block;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    color: rgba(var(--txtColor), 1);
    background-color: rgba(var(--secondColor), 0.4);
    background-clip: padding-box;
    border: 1px solid rgba(var(--txtColor), 0.7);
    border-radius: 0.25rem;
    resize: vertical;
    transition: 0.15s;
}

.form-control:focus{
    border-color: rgba(var(--txtColor), 1);
    background-color: rgba(var(--secondColor), 0.7);
}

.btn {
    background-color: rgba(var(--secondColor), 0.7);
    color: rgba(var(--txtColor), 1);
    margin: 0.2rem 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background-color: rgba(var(--secondColor), 0.8);
    box-shadow: 0 6px 12px rgba(0,0,0,0.2);
}

.radio.btn {
    padding: 0;
}
.radio.btn span {
    display: inline-block;
    padding: 10px 20px;
    cursor: initial;
}

.radio.btn:hover {
    box-shadow: none;
    background-color: rgba(var(--secondColor), 0.7);
}

.radio.btn a {
    text-decoration: none;
    display: inline-block;
    height: max-content;
    background-color: rgba(var(--secondColor), 0.4);
    padding: 10px 10px;
}

.radio.btn a:hover, .radio.btn a.selected {
    background-color: rgba(var(--secondColor), 1);
}

.lbl-toggle {
    float: left;
}

input[type=checkbox].toggle {
    display: none;
}    

.collapsible-content {
    max-height: 0px;
    overflow: hidden;
    visibility: hidden;
    transition: max-height .25s ease-in-out, margin .25s, padding .25s;
    transition: 0.1s;
    border: #AAA solid 1px;
}    

.toggle:checked + .collapsible-content {
    padding: 1em;
    margin: 1em 0;
    visibility: initial;
    max-height: 1000px;
}    

label.invidious {
    display: inline;
}

.invidious + input {
    width: unset;
    display: inline;
}

/*---- Text elements ----*/

h2{
    font-size: 32px;
    padding-left: 30px;
    margin-top: 3.5rem;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-weight: normal;
    color: rgba(var(--txtColor), 1);
}

h3{
    font-size: 25px;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    padding-left: 50px;
    font-family: "Calibri", sans-serif;
    letter-spacing: 2px;
    font-weight: normal;
    color: rgba(var(--txtColor), 1);
}

ul{
    list-style-type: none;
    margin: 0;
}

ul p, ul .thumbnails {
    margin: 0;
}

a{
    text-decoration: underline;
    font-style: italic;
    color: rgba(var(--txtColor), 1);
}

.thumbnails a {
    text-decoration: none;
    font-style: normal;
}
ul .thumbnails a {
    text-decoration: none;
    font-style: normal;
    padding: 0.5em;
}
ul .thumbnails a:hover {
    background-color: rgba(var(--secondColor), 0.4);
}

a:hover{
    text-shadow: 0px 0px 12px rgba(0,0,0,0.4);
    transition: 0.2s;
}

/*---- Playlists ----*/
ul.historic {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

ul.historic li {
    flex: 0 0 auto;
    margin-bottom: 1em;
}

span.historic {
    margin-left: 1em;    
    padding: 0 2px;
}
.added {
    background-color: #2A2;
}
.edited {
    background-color: #AA2;
}
.removed {
    background-color: #A22;
}

@media (min-width: 1400px)
{
    ul.subscriptions {
        display: grid;
        grid-template-columns: auto auto;
    }
}
ul.subscriptions li {
    display: grid;
    grid-template-columns: max-content auto;
}
ul.subscriptions li div {
    margin-left: 1em;
}
ul.subscriptions li div a {
    display: block;
}
ul.subscriptions input[type="checkbox"] {
    display: none !important;
}
ul.subscriptions label {
    padding: 0;
    margin: 0;
}
ul.subscriptions input[type="checkbox"]:checked + label > li:not(.added) {
    background-color: #AB2;
}
ul.subscriptions input[type="checkbox"]:not(:checked) + label > li.added {
    background-color: #862;
}

form.subscriptions div {
    display: inline;
}
form.subscriptions div label {
    display: inline;
}
form.subscriptions div input {
    display: inline;
    width: unset;
}

/*---- Tags ----*/
details {
    display: inline-block;
    /* margin: 1rem; */
    width: min-content;
    min-width: 150px;
    background-color: rgba(var(--secondColor), 0.2);
}
summary {
    background-color: rgba(var(--secondColor), 0.7);
    color: rgba(var(--txtColor), 1);
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}
details a {
    display: block;
    padding: 0.4em 1em;
    text-decoration: none;
}
details a:hover {
    background-color: rgba(var(--secondColor), 0.2);
}